root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.{js,ts,cjs,mjs,json}]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 4
