{
    "env": {
        "node": true
    },
    "extends": "airbnb-base",
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "max-len": [
            "error",
            {
                "code": 120,
                "comments": 120,
                "tabWidth": 4,
                "ignoreUrls": true,
                "ignoreTrailingComments": false,
                "ignoreComments": false
            }
        ],
        "indent": [
            "error",
            4
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always",
                "functions": "never"
            }
        ],
        "no-useless-escape": "off",
        "no-param-reassign": "off",
        "wrap-iife": "off",
        "func-names": "off",
        "no-shadow": "off",
        "arrow-body-style": 0,
        "no-multi-spaces": [
            "error",
            {
                "ignoreEOLComments": true
            }
        ],
        // Prefer destructuring from arrays and objects
        // https://eslint.org/docs/rules/prefer-destructuring
        "prefer-destructuring": [
            "error",
            {
                "VariableDeclarator": {
                "array": false,
                "object": true
                },
                "AssignmentExpression": {
                "array": true,
                "object": false
                }
            },
            {
                "enforceForRenamedProperties": false
            }
        ],
        "consistent-return": "off",
        "no-prototype-builtins": "off",
        "dot-notation": "off",
        "quote-props": "off",
        "no-continue": "off",
        "strict": "off",
        "no-bitwise": "off",
        "no-underscore-dangle": "off"
    }
}
